@import "~variables.scss";

nav {
	background-color: $nav-background-color;
	border-color: $nav-background-color;
	border-radius: 0px;
	border-width: 2px;
	// box-shadow: 2px 4px $body-background-color-1;
}

.navbar {
	margin-bottom: 5px;
}

.navbar-nav>li>a,.navbar-brand,.navbar-brand:focus{
	color: white;
}

.navbar-nav>.active>a, .navbar-nav>li:hover {
	background-color: lighten($nav-background-color, 5%) !important;
}