$nav-background-color: #4D4D4D;

nav {
	background-color: $nav-background-color;
	border-color: $nav-background-color;
	border-radius: 0px;
	border-width: 2px;
	color: white;
}

.nav,a {
	color: white !important;
}

.navbar-nav>.active>a, .navbar-nav>li:hover {
	background-color: lighten($nav-background-color, 10%) !important;
}