/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
@import "~variables.scss";

body {
  padding-top: 0;
  background: linear-gradient(-90deg, $body-background-color-1, $body-background-color-2);
  color: $body-font-color;
  font-family: Monospace, Helvetica;
}

.pad-body-top{
	padding-top: 13em;
}

.btn-prime, .btn-prime:focus {
	background-color: $prime;
	color: white;
	border-color: $prime; 
}

.btn-prime:hover{
	background-color: $prime-light;
	color: white;
}

.btn-default:active {
	background-color: $prime-light !important;
}

a:link, a:visited {
	color: black;
}

thead>tr>th {
    cursor: pointer;
}

.heading {
	padding-top: 0px !important;
	margin-top: 0px !important;
	border-bottom-width: 1px !important;
	border-bottom-style: solid !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	color: white;
	font-size: 20px;
	border-bottom-color: $prime !important;

}

.super {
	font-size: 30px;
}

h1 {
	margin-top: 0px;
	font-size: 20px;
	font-weight: bold;
}

.dropdown-menu {
	font-color: black;
}

.content {
	margin-top: 50px;
	padding-top: 15px;
	border-radius: 4px;
	margin-left: 30px;
	margin-right: 30px;
	background: #fff;
	color: black;
}
@import "~bootstrap/dist/css/bootstrap.min.css";
