/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

$body-background-color-1: #686963;
$body-background-color-2: #ACADA9;
$body-font-color: #E3F2FD;

body {
  padding-top: 0;
  background: linear-gradient(-90deg, $body-background-color-1, $body-background-color-2);
  color: $body-font-color;
  font-family: Monospace, Helvetica;
}

