/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

@import "~variables.scss";

body {
  padding-top: 0;
  background: linear-gradient(-90deg, $body-background-color-1, $body-background-color-2);
  color: $body-font-color;
  font-family: Monospace, Helvetica;
}

.pad-body-top{
	padding-top: 13em;
}

.btn-prime {
	background-color: $prime;
	color: white;
	border-color: $prime; 
}