$body-background-color-1: #747370;

// $body-background-color-1: lighten($body-background-color-1, 10%);

$body-background-color-2: $body-background-color-1;

$body-font-color: #F1F2F3;
$prime: #2B3D41;
$prime-light: lighten($prime, 10%);
$prime-super-light: lighten($prime, 20%);
// $btn-hover: #407076;
$nav-background-color: $prime;
