$body-background-color-1: #EFE9E7;

// $body-background-color-1: lighten($body-background-color-1, 10%);

$body-background-color-2: #DAE0F2;

$body-font-color: black;
$prime: #2B3D41;
$prime-light: lighten($prime, 10%);
$prime-super-light: lighten($prime, 20%);
// $btn-hover: #407076;
$nav-background-color: #1C2321;
